<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <marquee><h1>six time world champiansss</h1></marquee>
        <a href="{% url 'something:starc' %}"><h1>Micthell Starc</h1></a>
        <a href="{% url 'something:cummins' %}"><h1>Pat Cummins</h1></a>
        <a href="{% url 'something:smith' %}"><h1>Steve Smith</h1></a>
        <a href="{% url 'something:head' %}"><h1>Travis Head</h1></a>
    </center>
</body>
</html>