<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Indian Team</h1>
        <a href="{% url 'anything:virat' %}"><h2>Virat Kohli</h2></a>
        <a href="{% url 'anything:rohit' %}"><h2>Rohit Sharma</h2></a>
        <a href="{% url 'anything:sachin' %}"><h2>Sachin Tendulkar</h2></a>
        <a href="{% url 'anything:gill' %}"><h2>Shubman Gill</h2></a>
    </center>
</body>
</html>